* {
  /* outline: 2px solid red; */
}

html body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

body {
  background: url('./images/subtle_patterns/prism.png');
  /* overflow-x: hidden; */
}

.bulb {
  position: absolute;
  left: 50%;
  top: -5%;
  transform: translateY(-100%);
  object-fit: cover;
  width: 50%;
  /* border: 2px solid blue; */
  height: 100%;
}

.carpet-offset-container {
  /* outline: 2px solid red; */
  margin-top: -25px;
  height: 23px;
  background: url('./images/carpet-offset-small.png') repeat !important;
  box-shadow: 0 1px 0 rgb(54, 54, 54) inset;
  position: relative;
  z-index: 1;
}

@media (max-width: 700px) {
  .bulb {
    left: 40%;
    width: 50%;
    height: 80%;
  }
}

/* https://i.pinimg.com/originals/6f/cb/2f/6fcb2ff1a2ebfec979a7c43fc3c432d2.jpg */